body {
    background-color: black;
    background-image: url(../images/batman_back.png);
  /*  background-repeat: no-repeat;*/
    background-size: contain; 
       background-position: center; 
    height: 100vh;
    color: yellow;
    display: flex;
}

.container {
    margin: auto;
    text-align: center;
    margin-top: 12%;
    position: relative;
    width: 100%;
    
}

.heador {
    text-align: center;
    color: yellow;
    font-size: 100px;
    font-weight: bolder;
    color: black;
  -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.instructions-row {
color: yellow;
size: 200px;
margin: 0 auto;
padding: 20px;
font-size: 20px;
font-weight: bolder;
-webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.word-block {
    margin-top: 20px;
}

.plate {
  
    background: black;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    opacity: .4;
    z-index: -2;
}

@media only screen and (max-width: 1400px) {
    body {
        background-repeat: repeat;
    background-size: cover; 
       background-position: center; 
      
   }
   

   @media only screen and (max-width: 400px) {
    body {
         
       background-size: 244vh;
       background-position-y: inherit;
       background-position-x: 38%;
   }
   

    }
  }

  @media only screen and (max-width: 1400px) {
    .plate {
        opacity: .6;
    }
  }


  @media only screen and (max-width: 400px) {
    .container {
        background-repeat: repeat;
    background-size: contain; 
       background-position: center;
       padding: 40px;
    }
  }